<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ESTU - Easy to read tutorials written by nerds</title>

<div th:replace="fragments/header :: header-css" />

</head>
<body>

	<div th:replace="fragments/header :: header" />

	<!-- Page Header -->
		<header class="masthead"
			style="background-image: url('/media/img/wall.jpeg')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<div class="page-heading">
							<h1 th:text="|con.io|"></h1>
						</div>
					</div>
				</div>
			</div>
		</header>

	<div th:replace="fragments/footer :: footer" />
</body>
</html>