<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" />
</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="text-center">
			<h1 class="text-center font-weight-bold">404</h1>
			<h3 class="text-center">We couldn't find the page..</h3>
			<div>
				Sorry, but the page you are looking for was either not found or does
				not exist. <br /> Try refreshing the page or click the button below
				to go back to the Homepage.
				<ul class="list-inline text-sm">
					<li class="list-inline-item"><a th:href="@{/}"
						class="text-muted">Go to App</a></li>
					<li class="list-inline-item"><a th:href="@{/login/}"
						class="text-muted">Login</a></li>
					<li class="list-inline-item"><a th:href="@{/register/}"
						class="text-muted">Register</a></li>
				</ul>
				<span>©</span> <span>2016</span> <span>-</span> <span>Next
					Bootstrap</span> <br /> <span>Free bootstrap code example</span>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer" />
</body>
</html>